html {
  width: 100% !important;
}
* {
  box-sizing: border-box;
}          

.no-style {
  text-decoration: inherit;
}

/* ======  NAV SECTION START ====== */
#navbar {
  background-color: rgb(255,255,255) !important;
  box-shadow: 0px 2px 10px black;
  min-height: 10vh;
}

.logo-nav {
  width: 7.5rem;
}

.image-nav {
  width: 2rem;
}

.nav-container-icon {
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.nav-container-icon > .nav-item {
  margin-right: 20px;
  transition: ease 0.5s;
  border-radius: 40px;
  align-items: center;
}
.nav-container-icon > .nav-item:hover {
  background-color: #d7d8d8;
}

.nav-container-text > .nav-item {
  transition: ease 0.5s;
  border-radius: 10px;
  margin-right: 10px;
}
.nav-container-text > .nav-item:hover {
  background-color: #d7d8d8;
  transform: scale(1.1);
}

.nav-link {
  color: black !important;
}
.nav-link:hover {
  cursor: pointer;
}

/* <<<<<<  NAV SECTION END >>>>>> */


/* ======  MAIN SECTION START ====== */

#main-section .image-main-section {
  position: relative;
  background-image: url("../images/background/office.avif"); /* Cambiarla más tarde*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 4;
  filter: blur(2px);
  height: 100vh;
  width: auto;  
}

.text-centered-office {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 1px 5px #000;
  z-index: 5 !important;
  background-color: rgba(54, 54, 54, 0.616);
}

#main-title {
  position: relative;
  top: 30%;
}

#main-text {
  position: relative;
  top: 30%;
  margin: auto;
  max-width: 60%;

  font-size: 0.6em;
  line-height: normal;
  text-align: justify;
}

#main-video {
  position: relative;
  margin: auto;
  top: 15%;
  text-align: center;
  padding: 1rem;
}

#main-section a {
  color: inherit;
  text-decoration: inherit;
}
#main-section a:hover {
  color:rgb(0, 117, 176);
  text-shadow: 2px 1px 5px #000;
}

/* <<<<<<  MAIN SECTION END >>>>>> */


#body {
  background-image: url("../images/background/gul_logo.svg");
  background-color: #1c3144;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ======  CORE-AGENTS SECTION START ====== */
#core-agents-section {
  padding: 1rem;
}

.title-text-centered{
  color: white;
  text-shadow: 2px 1px 5px #000;
}

.text-title {
  text-align: center;
  background-color: rgb(0, 117, 176);
  color: white;
  text-shadow: 2px 1px 5px #000;
}

.text-desc {
  text-align: justify;
  padding: 1rem;
  background-color: white;
}

.tarjeta object{
  text-align: center;
  padding: 0.5rem;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.tarjeta object:hover {
  box-shadow: -10px -10px rgb(57, 160, 26);
  transform: translate(10px,10px);
}

/* <<<<<<  CORE-AGENTS SECTION END >>>>>> */


/* ======  PRIMEROS-PASOS SECTION START ====== */

#primeros-pasos-section {
  padding: 1rem;
}

/* <<<<<<  PRIMEROS-PASOS SECTION END >>>>>> */


/* ======  MEDIA QUERY SECTION START ====== */

@media screen and (max-width: 992px) {
  .text-container {
    width: 80%;
  }

  .tarjeta object{
    max-width: 90%;
  }

  .nav-container-text {
    border-top: 1px solid #d7d8d8;
  }
  .nav-container-text > .nav-item {
    text-align: center;
  }
}
@media screen and (max-width: 875px) {
  #main-title {
    top: 20%;
  }
  .text-centered-office {
    font-size: 1.7rem !important;
  }
  
  .tarjeta object:hover{
    transform: none;
    box-shadow: none;
  }

  .tarjeta object{
    padding: 0.1rem;
    text-align: inherit;
  }
}

@media screen and (max-width: 768px) {
  .text-centered-office {
    font-size: 1.3rem;
  }

  #main-text{
    max-width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .text-centered-office {
    font-size: 1.3rem;
  }

  .text-container {
    width: 90%;
  }

  

}

/* <<<<<<  MEDIA QUERY SECTION END >>>>>> */